.coloumn{
	width: 75%;
	text-align: center;
	padding-bottom: 20px;
	margin : 20px auto;
	padding: 30px;
	background-color: #db6400;
	border-radius: 10px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

#id_Question {
    width: 50%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#id_Answer{
    width: 50%;
    border-radius: 8px;
}

.accordion{
	width: 75%;
	text-align: center;
	padding-bottom: 20px;
	margin : 20px auto;
	padding: 30px;
	background-color: #db6400;
	border-radius: 10px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.accordion_head{
	width: 50%;
	padding: 10px;
	background-color: #adce74;
	margin : 10px auto;
	border-radius: 10px;
}

.accordion_content {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 0;
	overflow: hidden;
	background-color: #eeee;
	border-radius: 10px;
}

.accordion_head.active + .accordion_content {
  height: 120px;
  padding : 20px;
}

.panah {
  float: right;
  margin: 0.5vh;
  height: 10px;
  width: auto;
  cursor: pointer;
  background-color: black;
}