{% extends 'base.html' %}
{% load static %}

{%  block content %}

<head>
	<title>Collections</title>

	<!-- Call Jquery from Local File -->
	<script src = "{% static 'jquery/jquery-3.5.1.js'%}"></script>

<!-- 	<script type="text/javascript">

		$(document).ready(function(){
		   var allPanels = $('.accordion > .ans').hide();
    
		  $('.accordion > .quest > .quest-ref').click(function() {
		    allPanels.slideUp();
		    $(this).parent().next().slideDown();

		    return false;
		  });
		});
	</script> -->


	<!-- Accordian Code -->
	<script type="text/javascript">

		$(document).ready(function(){

		    $(".accordion_head").click(function(){
		        if($(this).hasClass("active")){
		            $(".accordion_head").removeClass("active");
		        }else{
		            $(".accordion_head").removeClass("active");
		            $(this).addClass("active");
		        }
		    });

		    $(".up").click(function(){
		        let accordionNow = $(this).parent().parent();
		        let accordionBefore = accordionNow.prev();

		        accordionNow.insertBefore(accordionBefore);
		    });
		    
		    $(".down").click(function(){
		        let accordionNow = $(this).parent().parent();
		        let accordionAfter = accordionNow.next();

		        accordionNow.insertAfter(accordionAfter);
		        $(".accordion_head").removeClass("active");
		    });
		});

		$(document).on('click', ".panah", function() {
		    $(".accordion_head").each(function() {
		        $(this).removeClass("active");
		    })
		})

	</script>

</head>
<br>
<h3 style = "background-color: #f2d974; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;border-radius: 10px; width: 75%;  text-align: center; margin-left: auto; margin-right: auto; box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);">Collections</h3>
<div class="accordion">
	{% for item in QnA %}
	<div class="accordion_wrap">
      <div class="accordion_head">
        <span class="judul">
          {{item.Question}}
        </span>
        <img class="panah up" src="{% static 'images/arrowup.png' %}">
        <img class="panah down" src="{% static 'images/arrowdown.png' %}">
      </div>
      <div class="accordion_content">
        <p class="isi">{{item.Answer}}</p>
      </div>
    </div>
	{% endfor %}
</div>


{% endblock %}