{% extends 'base.html' %}
{% load static %}

{%  block content %}

<head>
	<title>Form Kegiatan</title>
</head>

<form action = '' method="POST">

	<div class="coloumn">

  		<h3 style = "background-color: #f2d974; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;border-radius: 10px;">Isi Kegiatan</h3>

		{% csrf_token %}

		<h5>Question</h5>
		{{form.Question}}

		<br>
		<br>
		<h5>Answer</h5>
		{{form.Answer}}

		<br>
		<br>
		<input type = "submit" class="btn btn-primary" >

	</div>

</form>

{% endblock %}